body {
    background-color: aqua;
    color: red;
}

section{

    background-color: rgb(42, 165, 89);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}