body {
    background-color: aqua;
    color: red;
}

section{

    background-color: rgb(42, 165, 89);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex; /*deixa a secção flexível*/
    justify-content: center; /*alinha a secção no centro*/
}

chamada-texto{
background-color: rgb(102, 17, 43);   
}